/* 画面中央に配置するための設定 */
body {
    background-color: #f3f4f6; /* 画面全体の背景（薄いグレー） */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
    min-height: 100vh;
}

/* カード全体の形と色分け */
.card {
    width: 800px;                  /* 横幅 */
    min-height: 450px;             /* 最小の高さ */
    background-color: #fff;      /* 下部の基本色（白） */
    border-radius: 12px;           /* 全体の角丸 */
    overflow: hidden;              /* 角丸からはみ出す背景色をカット */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* 軽い影 */
}

/* 上部（紺色） */
.card-header {
    background-color: #1e293b; /* 紺色 */
    height: 120px;               /* 上部の高さ */
    padding: 30px;
    box-sizing: border-box;      /* パディングを含めた高さ計算にする */

    /* --- 上下左右の設定 --- */
    display: flex;               /* Flexboxを有効 */
    justify-content: left;       /* 左右 */
    align-items: center;         /* 上下の中央揃え */
    /* --------------------- */
    
    color: #ffffff;            /* 中の文字を白 */
    font-size: 30PX;           /* 文字の大きさ */
    font-weight: bold;           /* 太文字 */
}

/* 下部（白色） */
.card-body {
    padding: 20px;
    background-color: #ffffff; /* 白色 */
}

/* 入力欄とボタンを横並びにして隙間を作る */
.input-group {
  display: flex;           /* 中にある入力欄とボタンを横並び */
  gap: 5px;                /* 入力欄とボタンの間に少しだけ隙間 */
  margin-bottom: 20px;     /* 下にあるリストとの間に余白 */
}

/* 入力欄を広げる */
input {
  flex: 1;                   /* flex: 1: これを指定するだけで、入力欄が「余っているスペースを全部使う」 */
  padding: 8px;              /* 内側に余白 */
  border: 1px solid #ccc;  /* 薄いグレーの枠線 */
  border-radius: 4px;        /* 角を少し丸く */
}

/* 追加ボタンを緑色にする */
button {
  padding: 8px 12px;               /* ボタンを少し大きく */
  background-color: #28a745;     /* 緑色 */
  color: white;                  /* 文字の色を白 */
  border: none;                    /* 標準の枠線を消す */
  border-radius: 40px;             /* 角を丸く */
  cursor: pointer;                 /* マウスを乗せた時に指の形（クリックできる合図） */
}

/* ボタンにマウスを乗せた時の変化 */
button:hover {
  background-color: #218838;     /* ホバー時少し濃い緑 */
}

/* 削除ボタン */
.delete-btn {
    background-color: #dc3545;   /* 赤色 */
    margin-left: 30px;             /* 文字との間に隙間を作る */
    padding: 3px 10px;             /* 削除ボタンは少し小さめ */
    font-size: 12px;               /* 文字も少し小さく */
}

.delete-btn:hover {
    background-color: #c82333; /* ホバー時の色 */
}

/* li の設定（背景色など） */
li {
    flex: 1;              /* 文字の部分を広げる */
    list-style: none;     /* 黒丸を消す */
    background-color: #ecf6fe;
    padding: 10px;
    border-radius: 8px;
    height: 80px;
    word-break: break-all;  /*端まで行ったら折り返す */
    overflow: auto;
}

/* 入力欄とボタンを横並びにして隙間を作る */
.button-group {
  display: flex;           /* 中にあるテキストとボタンを横並び */
  gap: 5px;                /* テキストとボタンの間に少しだけ隙間 */
  margin-bottom: 10px;     /* 下にあるリストとの間に余白　行同士の隙間 */
  align-items: center;     /* 縦方向の真ん中に揃える*/ 
}

